<h1>Listing allocations</h1>

<table>
  <tr>
    <th>Vlan</th>
    <th>Range</th>
    <th>Subnet</th>
    <th>Device</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allocations.each do |allocation| %>
  <tr>
    <td><%= allocation.vlan_id %></td>
    <td><%= allocation.range %></td>
    <td><%= allocation.subnet_id %></td>
    <td><%= allocation.device_id %></td>
    <td><%= allocation.created_at %></td>
    <td><%= allocation.updated_at %></td>
    <td><%= link_to 'Show', allocation %></td>
    <td><%= link_to 'Edit', edit_allocation_path(allocation) %></td>
    <td><%= link_to 'Destroy', allocation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Allocation', new_allocation_path %>
