<h1>Listing vlans</h1>

<table>
  <tr>
    <th>Vlan number</th>
    <th>Location</th>
    <th>Notes</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vlans.each do |vlan| %>
  <tr>
    <td><%= vlan.vlan_number %></td>
    <td><%= vlan.location_id %></td>
    <td><%= vlan.notes %></td>
    <td><%= vlan.created_at %></td>
    <td><%= vlan.updated_at %></td>
    <td><%= link_to 'Show', vlan %></td>
    <td><%= link_to 'Edit', edit_vlan_path(vlan) %></td>
    <td><%= link_to 'Destroy', vlan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vlan', new_vlan_path %>
